*{
    border: none;
}


fieldset  {
    margin: 2vh;
    margin: 2vw;
}

label{
    text-align: left;
    font-size: x-small;
}

input, textarea, select, option {
    background-color: white;
    font-family: "Red Rose";
    font-size:x-small;
    margin: 0.6vh;
    border-radius: 5px;
}

input, select {
    height: 3.5vh;

}

#price{
    width: 12vw;
    margin-left: 70vw;
    text-align: center;
}

#title, #description{
    width: 80vw;
}

#category{
    width: 81vw;
}

#bedrooms, #bathrooms, #persons {
    width: 18vw;
}
#bedrooms, #persons, #bathrooms, input{
    width: 6vw;
}

#city, #province {
    width: 38.5vw;
}

#exchangeP, #animalsP, #poolP, #termsP{
    color:white;
    font-family: "Red Rose";
    font-size:small;
    margin-top: -5vh;
}

#exchange, #animals, #pool, #terms{
    height: 1.5vh;
}

#img{
    height: 2.5vh;
    width: 80vw;
}

#button{
    text-align: center;
}

#submit, #reset{
    background-color: #F9D66A;
    margin-top: 3vh;
    text-align: center;
    align-items: center;
    font-family: "Red Rose";
    width: 15vw;
    color: #2D5871;
    box-shadow: 3px 3px  rgba(0,0,0,0.5);
}

#return{
    width: 15vh;
    font-size: large;
    margin-bottom: 5vh;
}

@media (min-width: 700px){

    fieldset{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    label{
        font-size: larger;
    }

    input, textarea, select, option {
        background-color: white;
        font-family: "Red Rose";
        font-size: medium;
        margin: 3vh;
        border-radius: 5px;
    }

    input, select {
        height: 5vh;

    }

    #price{
        width: 12vw;
        margin-left: 58.3vw;
        text-align: center;
    }

    #title, #description{
        width: 70vw;
    }

    #category{
        width: 70.3vw;
    }

    #bedrooms, #bathrooms, #persons {
        width: 18vw;
    }
    #bedrooms, #persons, #bathrooms, input{
        width: 6vw;
    }

    #city, #province {
        width: 34.55vw;
    }

    #exchangeP, #animalsP, #poolP, #termsP{
        color:white;
        font-family: "Red Rose";
        font-size:small;
        margin-top: -5vh;
    }

    #exchange, #animals, #pool, #terms{
        height: 3vh;
    }

    #exchange, #animals, #pool, #terms, inputs{
        font-size: medium;
        margin-left: -2vw;
    }

    #img{
        height: 4.4vh;
        width: 70vw;
    }

    #button{
        text-align: center;
    }

    #submit, #reset{
        background-color: #F9D66A;
        margin-top: 3vh;
        margin: 1vw;
        text-align: center;
        align-items: center;
        font-family: "Red Rose";
        box-shadow: 3px 3px  rgba(0,0,0,0.5);
        width: 15vw;
        border: #2D5871;
    }

}



