*{

    text-align: center;
    margin:auto;
    padding: 0%;
    color: white;
    
}

h2{
    font-size: larger;
    margin-bottom: 1.5vh;
}

h3{
    font-size: large;
    margin-bottom: 1.5vh;
}

img{
    width: 80vw;
    max-height:  30vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

p{
    margin-bottom: 1vh;
}

#container{
    margin-left: 6vw;
    margin-right: 6vw;
    border: solid 2px #F9D66A;
    padding: 3vh;
    margin-top: 2vh;
}

.line{
    border-top: 1px solid white;
    height: 2px;
    width: 80vw;
    padding: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.float{
    margin-bottom: 5vh;
}

#return{
    background-color: #F9D66A;
    margin-top: 3vh;
    text-align: center;
    align-items: center;
    font-family: "Red Rose";
    width: 15vw;
    color: #2D5871;
    box-shadow: 3px 3px  rgba(0,0,0,0.5);
}

@media (min-width: 700px){
    img{
    width: 50vw;
    max-height:  60vh;
    }

    #return{
        background-color: #F9D66A;
        margin-top: 3vh;
        margin: 1vw;
        text-align: center;
        align-items: center;
        font-family: "Red Rose";
        box-shadow: 3px 3px  rgba(0,0,0,0.5);
        width: 15vw;
        border: #2D5871;
    }
}