#header {
    margin-top: 3vh;
    text-align: center;
    background-color: #F9D66A;
}

#header img{
    background-color: #F9D66A;
}

#image h2{
    position: relative;
    font-size: medium;
    margin-top: -6.5vh;
    background-color: #f9d56a00;
    text-align: center;
    color: #066285;
    text-transform: uppercase;
}

#image img{
    width: 100vw;
}

#select {
    text-align: center;
    margin-bottom: 4vh;
}

#select img{
    margin-left: 2vw;
    margin-right: 2vw;
}

@media (min-width: 700px){
    #image{
    text-align: center;
    }

    #image img{
        width: 100vw;
        }

    #image h2{
        position: relative;
        font-size: x-large;
        margin-top: -10vh;
        margin-bottom: 5vh;
        background-color: #f9d56a00;
        text-align: center;
        color: #066285;
        }

    #select {
        text-align: center;
        margin-bottom: 3vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        }

    #select img{
        width: 20vw;
    }

}