.containerButton{
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 7%;
    margin-top: 8%;
    padding-bottom: 5%;
}


button {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Lucida Sans';

}
.btnOne {
    width: 150px;
    height: 150px;
    background-color: #BBEFFF;
    border-radius: 50%;
    border-width: 0.7em;
    animation: buttonCoderGradient 3s ease infinite;
}

.btnTwo {
    width: 150px;
    height: 150px;
    background-color: #BBEFFF;
    border-radius: 50%;
    border-width: 0.7em;
    animation: buttonCoderGradient 3s ease infinite;
}

.btnOne:hover {
    transform: scale(1.1);
    cursor: pointer;
}

