@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500&family=Sansita&display=swap");

* {
  font-family: "Red Rose", cursive;
  box-sizing: border-box;

}

body{
  background-color: #2D5871;
}

body #fonts {
  font-family: "Red Rose", sans-serif;
  font-size: 1.2 rem;
  color:azure;
}